<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JAB</name>
    <description>JAB Social Network</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Bernat Brunet
    </author>
    <content src="login.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="www/img/social-ico.png" />
        <allow-intent href="market:*" />
        <access origin="*" />
        <allow-intent href="*" />
        <allow-navigation href="*" />
        <access launch-external="yes" origin="*" />
    </platform>
</widget>
