<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edita el post</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="shortcut icon" href="/static/images/logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="layui-header header">
    <div class="layui-container">
        <div class="header-demo">
            <!-- 头部 logo -->
            <a href="/" class="logo">
                <img src="/static/images/logo-social.png" alt="">
            </a>
            <!-- 中间分类栏 -->
            <ul class="menu">
                <li data-cid="1"><a href="javascript:;">foto</a></li>
                <li data-cid="2"><a href="javascript:;">Mascota</a></li>
                <li data-cid="3"><a href="javascript:;">Video</a></li>
                <div class="search">
                    <form action="" style="line-height: 60px"><input type="text"><button class="iconfont icon-sousuo"></button></form></a></div>
            </ul>
            <!--登录注册栏-->
            <div class="login-btn">
                {% if current_user.is_active %}
                <a href="/logout" >Log out </a>

                  {% else %}
                 <a href="/login" class="login-btn">Log in </a>/
                <a href="/register" class="register-btn">register </a>
                  {% endif %}
            </div>
        </div>
    </div>
</div>

{% block content %}
    <h1>{% block title %} Edita el post "{{ post['title'] }}" {% endblock %}</h1>

    <form method="POST">
        <div class="form-group">
            <label for="title">Títol</label>
            <input type="text" name="title" placeholder="Títol del post" class="form-control" value="{{ request.form['title'] or post['title'] }}"></input>
        </div>
        <div class="form-group">
            <label for="content">Contingut</label>
            <textarea name="content" placeholder="Contingut del post" class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
        </div>
        <div class="form-group">
            <label for="index_image_url">URL de la foto</label>
            <textarea name="index_image_url" placeholder="URL de la foto" class="form-control">{{ request.form['index_image_url'] or post['index_image_url'] }}</textarea>
        </div>
        <div class="form-group">
            <label for="category_id">Categoria del post</label>
            <textarea name="category_id" placeholder="category_id" class="form-control">{{ request.form['category_id'] or post['category_id'] }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Edita</button>
        </div>
    </form>

    <form action="{{ url_for('index.delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Borra el post" class="btn btn-danger btn-sm">
    </form>
{% endblock %}

<div class="layui-footer footer">
    <div class="footer_links">
        <a href="">Sobre JAB</a>
        <span>|</span>
        <a href="">Contacte</a>
        <span>|</span>
        <a href="">Web</a>
    </div>
    <p class="copyright">
        CopyRight © 2023 JoanAliciaBernat All Rights Reserved<br>
        Telèfon:010-****888 xICP*******8x
    </p>
</div>
</body>
</html>