<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gettext('JAB') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/iconfont.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename= 'images/logo.png') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="layui-header header container">
    <div class="layui-container row">
        <div class="header-demo col">
            <!-- 头部 logo -->
            <a href="{{ url_for('index') }}" class="logo">
                <img src="{{ url_for('static', filename= 'images/logo-social.png') }}" alt="">
            </a>
            <!-- 中间分类栏 -->
            <ul class="menu col" style="width: 75%;">
                <li data-cid="1"><a href="{{ url_for('chat') }}">{{ gettext('Xat') }}</a></li>
                <div class="search search-bar">
                    <form action=""><input class="input-class" placeholder="Cerca..." type="text"><button
                            class="iconfont icon-sousuo"></button></form></a>
                </div>
            </ul>
            <!--登录注册栏-->
            <div class="login-btn col">
                <a href="{{ url_for('log_in') }}" class="login_btn">{{ gettext('Login /') }}</a>
                <a href="{{ url_for('register') }}" class="register_btn">{{ gettext('Registre') }}</a>
            </div>
        </div>
    </div>
</div>

{% block content %}
    <img src="{{ post['post_photo'] }}" alt="post_photo">
    <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
    <span>{{ post['created'] }}</span>
    <p>{{ post['content'] }}</p>
    <p>{{ gettext('Autor') }}: {{ post['author'] }}</p>
    <img src="{{ post['author_pfp'] }}" alt="post_photo">
{% endblock %}

<div class="layui-footer footer">
    <div class="footer_links">
        <a href="">{{ gettext('Sobre JAB') }}</a>
        <span>|</span>
        <a href="">{{ gettext('Contacte') }}</a>
        <span>|</span>
        <a href="">{{ gettext('Web') }}</a>
    </div>
    <p class="copyright">
        CopyRight © 2023 JoanAliciaBernat All Rights Reserved<br>
        {{ gettext('Telèfon') }}:010-****888 xICP*******8x
    </p>
</div>
</body>
</html>