/* Estil per al formulari d'edició de posts */
.edit-form-group {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#edit-post-page input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Estil per a l'encapçalat de la pàgina */
h1 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

/* Estil per als botons */
.edit-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
}